@font-face {
  font-family: Magra; /* Имя шрифта */
  src: url("./fonts/Magra-Regular.ttf") format("truetype"); /* Путь к файлу со шрифтом */
  font-style: normal;
 }
 @font-face {
  font-family:"Red hat text"; /* Имя шрифта */
  src: url("./fonts/RedHatText-Regular.ttf") format("truetype"); /* Путь к файлу со шрифтом */
  font-style: normal;
 }
 @font-face {
  font-family:"Aleo"; /* Имя шрифта */
  src: url("./fonts/Aleo-Regular.otf") format("opentype"); /* Путь к файлу со шрифтом */
  font-style: normal;
 }
 @font-face {
  font-family:"Aleo"; /* Имя шрифта */
  src: url("./fonts/Aleo-Italic.otf") format("opentype"); /* Путь к файлу со шрифтом */
  font-style: italic;
 }
 @font-face {
  font-family:"Aleo"; /* Имя шрифта */
  src: url("./fonts/Aleo-Bold.otf") format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: bold;
 }
 @font-face {
  font-family:"Aleo"; /* Имя шрифта */
  src: url("./fonts/Aleo-BoldItalic.otf") format("opentype"); /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: italic;
 }

html {
  scroll-behavior: smooth;
}

body, figure, ul, li {
  padding: 0;
  margin: 0 auto;
  font-family: Aleo, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  position: relative;
}

.header {
  height: 90px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  max-width: inherit;
  z-index: 1;

}
.logo {
  display: flex;
  justify-content: space-between;
  width: 216px;
}
.logo__text {
  font-family: Magra;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  color: #FFFFFF;
}
.menu-desktop {
  width: 527px;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  font-family: "Red hat text";
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  list-style-type: none;
}
.menu__link {
  color: #FFFFFF;
  text-decoration: none;
}
.header__button {
  width: 103px;
  height: 41px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border-style: none;
  color: #FFFFFF;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}
.header__button:hover {
  background: #40a4b6;
}
.first-section {
  background-image: url("./images/garrett-parker-DlkF4.jpg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: 0 0;
  height: 643px;
  margin-top: 0px;
  margin-bottom: 80px;
  padding-top: 122px;
}
#plan-your-trip {
  display: block;
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
} 
.first-section__content {
  margin-left: 120px;
  margin-bottom: 241px;
  width: 892px;

}
.first-section__title {
  font-family: Aleo;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;

  max-width: 892px;
}
.first-section__text {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.form-search {
  position: relative;
  width: 100%;
  margin-bottom: 254px;
}
.form-search__input {
  width: 849px;
  height: 95px; 
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border-style: none;

  font-family: 'Aleo';
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  padding-left: 41px;  
  
}
.form-search__input::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  
}
.form-search__button {
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;

  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;

  position: absolute;
  right: 18px;
  bottom: 20px;
  cursor: pointer;
}
.form-search__button:hover {
  background: #40a4b6;
}

.content-block {
  text-align: center;
  margin-bottom: 97px;
}

#how-it-works {
  display: block;
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}
.content-block__title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.content-block__steps {
  display: flex;
  justify-content: space-around;
}

.trip-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 318px;
}

.trip-steps__image {
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-steps__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
#popular-destinations {
  display: block;
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}
.content-block__destinations {
  width: 100%;
}

.destinations {
  position: relative;
  overflow:hidden;
  margin-bottom: 24px;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.destinations__left {
  width: 800px;
  height: 800px;
  
  cursor: pointer;
  border: solid red;
  ;
}
.destinations__mid {
  width: 800px;
  height: 800px;
  cursor: pointer;
  border: solid green;
  margin-left: 60px;
  margin-right: 60px;
}
.destinations__right {
  width: 800px;
  height: 800px;
  
  cursor: pointer;
  border: solid blue;
}
.destinations__image {
  display: block;
  border-radius: 16px;
  object-fit: contain;

}
.destinations__buttons {
  position: relative;
  width: 80px;
  margin: 0 auto 40px;
}
.destinations__switch-button {
  opacity: 0;
  
}
.destinations__switch-label::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #F2785C;
  border-radius: 50%;
  position: absolute;
  left: 33%;

}
.destinations__switch-label:nth-child(1)::after {
  background: rgba(242, 120, 92, 0.5);
  left: 0;
}
.destinations__switch-label:nth-child(3)::after {
  background: rgba(242, 120, 92, 0.5);
  left: 65%;
  
}

.destinations__find-more {
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  border-style: none;
  padding-left: 81px;
}
.destination__find-more-arrow {
  display: inline-block;
  position: relative;
}
.destination__find-more-arrow::after {
  content: "";
  background-image: url("./icons/arrow.svg");
  position: absolute;
  left: 33.5px;
  top: 17px;
  z-index: 1;
  width: 35px;
  height: 22.5px;
}
#travel-stories {
  display: block;
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}
.content-block__stories {
  width: 100%;
  height: 1331px;
  background-image: url("./images/back-stories.jpg");
  z-index:-1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content-block__stories_for-opacity {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 1270px;
  box-sizing: border-box;
  margin-bottom: 61px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.stories {
  width: 1200px;
}

.stories__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.stories__image {
  margin: 0;
}
.stories__img {
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  width: 400px;
  height: 250px;
  z-index: 1;
}

.stories__description {
  width: 760px;
}
.stories__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  text-align: left;
  margin: 0;
}

.stories__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-align: left;
}
.read-more-link {
  font-weight: 800;
  text-decoration: underline;
}

.stories__button-arrow {
  display: inline-block;
  position: relative;
}
.stories__button-arrow::after {
  content: "";
  background-image: url("./icons/arrow.svg");
  position: absolute;
  left: 33.5px;
  top: 17px;
  z-index: 1;
  width: 35px;
  height: 22.5px;
}
.stories__button {
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  border-style: none;
  padding-left: 81px;
  margin-bottom: 41px;
}

.footer {
  color: white;
  height: 61px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 141px;
  position: absolute;
  right: 123px;
  top: 15px;
}
.footer__one-icon {
  list-style: none;
}
